.search-input {
  width: 400px;
  padding: 5px;
}

.result-conatiner {
  width: 400px;
  
  margin: auto;
  border: 1px solid black;
  padding: 5px;
  max-height: 450px;
  overflow-y: scroll;
}

.result {
  display: block;
  margin: 6px;
  text-align: left;
}

.result:hover {
    background-color: beige;
    cursor: pointer;
}
