.product-container {
    display: flex;
    flex-wrap: wrap;
}

.page-no {
    padding: 5px;
    margin: 2px;
    border: 1px solid;
    cursor: pointer;
}

.page-container {
    padding: 10px;
}

.active {
    background-color: blue;
}

* {
    text-align: center;
}

